.item_3 {
    width: 90%;
    height: 90%;
    // background: white;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 200px;
    text-align: center;
    // box-shadow: 0px 10px 60px rgba(225.83, 236.19, 248.63, 0.5);
    border-radius: 30px;
}

.content_header {
    width: 90%;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #fc6736;
    color: #fff;
    margin: 10px;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}

.title {
    color: #0c2d57;
    font-size: 24px;
    font-family: "Arial";
    font-weight: 500;
    word-wrap: break-word;
}