.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    height: 100vh;
    align-items: center;
    .left__part {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        .form__wrapper {
            width: 350px;
            margin: 0 auto;
        }
    }
    .right__part {
        width: 50%;
        background-color: #ffede1;
        .wrapper {
            justify-content: center;
        }
        img {
            width: 50%;
            height: 80%;
            object-fit: cover;
        }
    }
}

// media queries for mobile
@media (max-width: 768px) {
    .wrapper {
        margin-top: 120px;
        flex-direction: column;
        .left__part {
            width: 80%;
            height: 50%;
            // .form__wrapper {
            //     width: 100%;
            // }
        }
        .right__part {
            display: none;
        }
    }
}
