.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    background-color: white;
    border-radius: 8px;

    .tableBody {
        display: block;
        max-height: 500px;
        width: 100%;
        overflow: auto;
        margin: 0;

    }

    .tableHeader, .tableRow {
        width: 100%;
        display: block;
    }
}

.tableHeader, .tableCell {
    text-align: left;
}

.tableCell {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableHeader {
    font-weight: bold;
    width: 100%;
    padding: 8px;
}

.cellWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
