.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 16% 84%;
    margin: 0;
    background-color: #fafbff;
}

.left {
    // background-color: red;
    height: 100%;
}
.right {
    // background-color: blue;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 20% 70%;
}

.right_item_1 {
    // background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right_item_2 {
    // background-color: yellow;
    .item_2 {
        width: 80%;
        height: 90%;
        background: white;
        margin: 8px auto;
        // padding: 20px;
        text-align: center;
        box-shadow: 0px 10px 60px rgba(225.83, 236.19, 248.63, 0.5);
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .section {
            display: flex;
            gap: 10px;
        }

        .items {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title {
                // Total Products
                color: #acacac;
                font-size: 15px;
                font-family: "Poppins";
                font-weight: 400;
                word-wrap: break-word;
            }
            .number {
                // 5,423
                color: #0c2d57;
                font-size: 30px;
                font-family: "Poppins";
                font-weight: 600;
                line-height: 32px;
                word-wrap: break-word;
            }
        }
    }
}

.right_item_3 {
    // background-color: green;

    .item_3 {
        width: 90%;
        height: 90%;
        background: white;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 10px 60px rgba(225.83, 236.19, 248.63, 0.5);
        border-radius: 30px;
    }
}

.title_admin {
    color: #0c2d57;
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 500;
    word-wrap: break-word;
}
.button {
    background-color: #fc6736;
    color: #fff;
    margin: 10px;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}
