.right_item_3 {
    .item_3 {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        border-radius: 30px;
    }
}

.wrapper {
    height: 100vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 16% 84%;
    grid-template-rows: 100%;
    margin: 0;
    background-color: #fafbff;
}

.menu {
    width: 100%;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 15% 60%;

    .right_item_1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        .title_admin {
            color: #0c2d57;
            font-size: 16px;
            font-family: "Arial";
            font-weight: 500;
            word-wrap: break-word;
        }
    }
    .children_container {
        width: 80%;
        height: auto;
        background: white;
        margin: auto;
        padding: 4px;
        box-shadow: 0px 10px 60px rgba(225.83, 236.19, 248.63, 0.5);
        border-radius: 30px;
    }
}



.item_3 {
    width: 90%;
    max-height: 90%;
    // background: white;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 200px;
    text-align: center;
    // box-shadow: 0px 10px 60px rgba(225.83, 236.19, 248.63, 0.5);
    border-radius: 30px;
    overflow: auto;
}

.button {
    background-color: #fc6736;
    color: #fff;
    margin: 10px;
    font-size: 1rem;
    padding: 0.4rem;
    border-radius: 5px;
}

.title {
    color: #0c2d57;
    font-size: 24px;
    font-family: "Arial";
    font-weight: 500;
    word-wrap: break-word;
}