.form{
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
  position: relative;
}
 .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
 }
.location{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.city {
  width: 70%;
  }

  .zipcode {
    width: 30%;
  }
  
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    
  }